{% extends 'base.html.twig' %}

{% block title %}PokemonDex
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">POKEDEX</a>
				<a href="{{path('pokemon_new')}}" class="btn btn-primary ms-5">Add New Pokemon</a>
				<a href="{{path('catagory_new')}}" class="btn btn-success ms-5">Add New Catagory</a>
			</div>
		</nav>
	</header>


	<div class="container">
		<div class="d-flex flex-wrap p-5">
			{% for pokemon in pokemons %}
				<div class="card col-4 p-3 m-1">
					<img src="{{ asset('uploads/images/pokemon/' ~ pokemon.image) }}">


					<div class="card-body">
						<h3>name:
							{{pokemon.name}}</h3>
						<h3>type:
							{{pokemon.catagory.name}}</h3>
						<p>
							<strong>
								Can Evolve:
								{{pokemon.canEvolve}}</strong>
						</p>

						<a href="{{path('pokemon_show', {id: pokemon.id})}}" class="btn btn-info">More About
							{{pokemon.name}}</a>

					</div>
				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
